@page "/patient/patientpersonaldata/{Id:int}"


<nav class="navbar navbar-expand-sm navbar-h2m bg-prima " mb-3>
   <div class="container">

      <a class="navbar-brand" href="#">Paciente - Datos Personales</a>
   </div>
</nav>
<br>
<div class="row justify-content-center align-items-center">
   <div class="jumbotron1 col-8">
      <div>
         <p class="mb-0 ml-5"><strong>Nombres y Apellidos</strong></p>
         <p class="caja col-10 ml-5 mb-3">Pedro Pediedras</p>
      </div>

      <div class="row  mb-2">
         <div class="col-5 ml-5">
            <p class="mb-0"><strong>Tipo Documento</strong></p>
            <p class="caja"> Cédula de Ciudadanía</p>
         </div>
         <div class="col-5 ml-1">
            <p class="mb-0"><strong>Número de Documento</strong></p>
            <p class="caja">1234567890</p>
         </div>
      </div>

      <div class="row mb-2">
         <div class="col-5 ml-5">
            <p class="mb-0"><strong>Genero</strong></p>
            <p class="caja">Masculino</p>
         </div>
         <div class="col-5 ml-1">
            <p class="mb-0"><strong>Número de Contacto</strong></p>
            <p class="caja">3012587412</p>
         </div>
      </div>

      <div class="row mb-2">
         <div class="col-5 ml-5">
            <p class="mb-0"><strong>Dirección de Residencia</strong></p>
            <p class="caja">CL 12 34 25 AP 202</p>
         </div>
         <div class="col-5 ml-1">
            <p class="mb-0"><strong>Georeferenciación</strong></p>
            <p class="caja">-72.1547854;4.7954795</p>
         </div>
      </div>

      <div class="row mb-2">
         <div class="ml-5 col-5">
            <p class="mb-0"><strong>Diagnóstico</strong></p>
            <p class="caja">Fractura multiple condilo femur derecho Fractura multiple condilo femur derecho</p>
         </div>
         <div class="ml-1 col-5">
            <p class="mb-0"><strong>Médico Tratante</strong></p>
            <p class="caja">Martin Elias Pachón</p>
         </div>
      </div>
   </div>
</div>

@code{

[Parameter] public int Id {get; set;}

}

      @*<div class="form-group ml-4 mb-2 col-10">
         <p class="mb-0"><strong>Nombres y Apellidos</strong></p>
         <input type="text" class="form-control" id="patient_name" placeholder="Ingresar Nombres y Apellidos" />
         @bind-Value="movie_name" @bind-Value:event="oninput"
            @onkeypress="@((KeyboardEventArgs e)=>MovieSearch(e))" class="form-control" id="movie_name" 
      </div>*@
