@page "/"

@*<h2>Home2Med</h2>*@


<div class="jumbotron">
   <div class="container">
      <div class="row">
         <div class="row cards" style="width: auto; margin: auto auto;">
            <div class="card" style="max-width:400px;">
               <img src="/Images/H2M-690x752.png" class="card-img-top" alt="...">
               <div class="card-body">
                  <p class="card-text">Bienvenido a su asistente de <strong>HOSPITALIZACION</strong> en <strong>CASA</strong>, comprometidos a que el Médico este en tu casa, cuidando de tu recuperación final</p>
                  <br>
                  <p class="text-center">Correo Electrónico info@home2med.com</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>