@page "/eps/editdoctor"
@using Home2Med.Client.Pages.Components

<nav class="navbar navbar-expand-sm navbar-h2m bg-prima mb-5">
   <div class="container">
      <a class="navbar-brand" href="#"><strong>EPS - Editar Médico</strong></a>
   </div>
</nav>

<FormDoctor Doctor = "Doctor" OnValidSubmit="Edit"></FormDoctor>

@code {

   [Parameter] public int Id { get; set; }
   public Doctor Doctor; 

   protected override void OnInitialized()
   {

       Doctor = new Doctor(){
      
         Id = 1,
         Name = "Pedro Piedras",
         DocumentType = 1,
         Document = "12345689",
         Gender = 2,
         Phone = "3104789632",
         Speciality = 1,
         Photo = "/Images/medicos/foto01.jpg",
         Status = true
     
       };

   }   

   private void Edit()
   {
      Console.WriteLine($"Editando doctor Id {Doctor.Id}");
   }
}