@* Estilos particulares para el navbar *@
<style type="text/css">
   .bg-prima {
      background-color: #b9e6eb !important
   }

   .bg-h2m {
      background-color: #87e6a7 !important
   }

   .jumbotron1 {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: #DFDFDF;
       !important border-radius: .3rem
   }
</style>


<div class="jumbotron1 col-8">
   <div class="container"></div>
   <div class="row mb-3">
      @foreach (var doctor in Doctors)
      {
         <div class="col-md-4">
            <div class="card flex-md-row mb-4 box-shadow h-md-300">
               <div class="card-body d-flex flex-column align-items-start bg-h2m">
                  <div class="card">
                     <img src="@doctor.Photo" class="img-thumbnail card-img-top">
                     <div class="card-body">
                        <h6 class="card-title">@doctor.Name</h6>
                        <p class="text-muted">
                           @doctor.DocumentType
                           <br>
                           <small>@doctor.Document</small>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      }
   </div>
</div>


@code {
   [Parameter] public List<Doctor> Doctors { get; set; }
}